@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "flyonui";
@source "./node_modules/flyonui/dist/index.js";
@source "./node_modules/flyonui/dist/accordion.js";

@font-face {
    font-family: Esteedad;
    src: url(../css/fonts/Estedad-FD-Medium.ttf);
}

@font-face {
    font-family: Esteedad-regular;
    src: url(../css/fonts/Estedad-FD-Regular.woff2);
}

@font-face {
    font-family: Esteedad-semibold;
    src: url(../css/fonts/Estedad-FD-SemiBold.ttf);
}

@font-face {
    font-family: Esteedad-light;
    src: url(../css/fonts/Estedad-FD-Light.ttf);
}

@font-face {
    font-family: Badeen;
    src: url(../css/fonts/BadeenDisplay-Regular.ttf);
}

@theme {
    --font-Esteedad: Esteedad;
    --font-Esteedad-regular: Esteedad-regular;
    --font-Esteedad-semibold: Esteedad-semibold;
    --font-Esteedad-light: Esteedad-light;
    --font-Badeen: Badeen;
}

@layer utilities {
    @media (min-width: 1024px) {
        .text-stroke {
            text-shadow: -1px 0 #0b2fa6, 0 1px #0b2fa6, 1px 0 #0b2fa6, 0 -1px #0b2fa6;
        }
        .bgimagewhydesk {
            background-image: url(../images/bgimage2.jpg);
        }
    }
}
.bgimageindexmobile {
    background-image: url(../images/image1.jpg);
}
.bgimageindexdesk {
    background-image: url(../images/bg.png);
}
.bgimagewhymobile {
    background-image: url(../images/image2.jpg);
}

.bgimageforrentalcars {
    background-image: url(../images/bg-reserve.jpg);
}
.bgimageforrentalcarsdesk {
    background-image: url(../images/reserve-page-bg.jpg);
}
